<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <% path?.css.forEach(css=>{ %>
  <link rel="stylesheet" href="<%=css%>">
  <% }) %>
</head>

<body>
  <script>
    window.initialI18nStore = JSON.parse(JSON.stringify(<%- extraData.initialI18nStore%>))
    window.initialLanguage = "<%= extraData.initialLanguage%>"
  </script>
  <div id="root"><%- app %></div>
  <% path?.script.forEach(script=>{ %>
  <script src="<%=script %>"></script>
  <% })%>
</body>

</html>